<h2>List of Employees</h2>
<form [formGroup]="addEmployeeForm" (ngSubmit)="onSubmit()">

  <label for="new-employee-name">Employee name: </label>
  <input id="new-employee-name" #employeeName type="text" formControlName="name"/>

  <label for="new-employee-surname">Employee surname: </label>
  <input id="new-employee-surname" #employeeSurname type="text" formControlName="surname"/>

  <label for="new-employee-email">Email: </label>
  <input id="new-employee-email" #employeeEmail type="text" formControlName="email"/>

  <label for="new-employee-rank">Rank:</label><br>
  <select formControlName="rank">
    <option *ngFor="let rank of ranks" [ngValue]="rank">{{rank}}</option>
  </select><br>

  <button type="submit" [disabled]="!addEmployeeForm.valid" class="add-button"> Add employee </button>
  <p>Form Status: {{ addEmployeeForm.status }}</p>
</form>
<ul class="employees">
  <li *ngFor="let employee of employees">
    <a routerLink="/detail/{{employee.id}}">
      <span class="badge">{{employee.id}}</span> {{employee.name + ' ' + employee.surname}}
  </a>
  <button type="button" class="delete" title="delete employee" (click)="delete(employee)">x</button>
  </li>
</ul>